.header {
  color: #282422;
  overflow: hidden;
  padding-bottom: 13.375rem;
}

.heading {
  margin-bottom: 1.625rem;
}

.heading--product {
  color: #00a88e;
}

.header__link {
  font-size: 1em;
  text-decoration: underline;
  color: #00a88e;
  font-weight: 300;
}
