.header__top {
  position: relative;
  background-color: #fff;
  z-index: 1;
}

.header__top-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3125rem 0;
}

.header__content {
  display: flex;

  position: relative;
  padding-top: 2.4375rem;
}

.header__content-col {
  width: 71%;
}

.header__desc {
  margin-bottom: 1.8125rem;

  &:last-child {
    margin-bottom: 2.75rem;
  }
}

.header__img-wrapper {
  position: relative;
  width: 29%;
}

.header__img {
  position: absolute;
  top: -30%;
  left: 0;
  max-width: unset;
}
